<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <title><%= title %></title>
</head>
<body>
<nav>
    <% if (user) { %>
        <a href="/dives" <%- title === '' ? 'class="active"' : '' %>>MY DIVES</a>
        <a href="/dives/new" <%- title === '' ? 'class="active"' : '' %>>NEW DIVE</a>
        <a href="/profiles/index" <%- title === '' ? 'class="active"' : '' %>>MY PROFILE</a>
        <a href="/logout">LOG OUT</a>
    <% } else { %>
        <a href="/auth/google" class="login">LOG IN</a>
    <% } %>
</nav>
