<%- include('../partials/header') %>

<h2>Add Certifications</h2>

<form id="new-cert-form" action="/profile/add-cert" method="POST">
    <label>Certification
        <input type="String" name="cert">
    </label><br>
    <label>Expiry
        <input type="String" name="expiration">            
    </label><br>

    <input id="new-cert-button" type="submit" value="Add Cert">
</form>

<% profile.certs.forEach(function(c) { %>
    <table>
        <thead>
            <th>Certificate</th>
            <th>Expiry</th>
        </thead>
        <tbody>
            <tr>
                <td><%= c.cert %></td>
                <td><%= c.expiration %></td>
            </tr>
        </tbody>
    </table>
<% }); %>

<a href="/profile"><button>Done</button></a>
