<%- include('../partials/header') %>

<h1><%= user.name%></h1>

<div><%= user.name%></div>

<div><%= profile%></div>

<div>
    <form action="/profiles/edit">
        <input type="submit" value="get started">
    </form>
</div>

