<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <body id="login-body">

    <div id="login-title"><%= title %></div>

    <div id="login-p">an online platform to log your dives</div>

    <form action = "/auth/google" class="login">
      <input id="login-button" type="submit" value="Login">
    </form>

  </body>
</html>
