<%- include('../partials/header') %>

<h2>Edit Card</h2>

<form class = "edit-card" action="/<%= card.id %>/update?_method=PUT" method ="POST" autocomplete="off">
    <label>Question</label>
    <br>
    <input type="text" name="question" value="<%= card.question%>">
    <br><br>
    <label>Answer</label>
    <br>
    <input type="text" name="answer" value="<%= card.answer%>">
    <button type="submit">Update Card</button>
  </form>