<%- include('../partials/header') %>

<h1>my decks</h1>

<% decks.forEach(function(m) { %>
    <% if (user && user._id.equals(m.user)) { %>
        <a href="/decks/<%= m._id %>"><button><%= m.deckName %></button></a>
      <% } %>
<% }); %>

<div>
    <form action="/decks/new">
        <input type="submit" value="+">
    </form>
</div>