<%- include('../partials/header') %>

<h1>my decks</h1>
<% decks.forEach(function(d) { %>
    <% if (user && user._id.equals(d.user)) { %>
        <button a href = "/decks/<%= d._id %>"><%= d.deckName %></button>
    <% } %>
<% }); %>
<div>
    <form action="/decks/new">
        <input type="submit" value="+">
    </form>
</div>