<%- include('../partials/header') %>

<h1>new deck</h1>
<form id="new-deck" action="/decks" method="POST">
    <label>Deck Name:</label>
    <input type="text" name="deckName">
    <input type="submit" value="Create">
  </form>