<%- include('../partials/header') %>

<button><a href="/decks/<%= deck._id %>/edit">Edit Deck</a></button>

<h1><%= deck.deckName%></h1>

<!-- <div class = "card-container">
    <div>
        card front
        card back
    </div>
</div> -->

<!-- button: back
button: flip
button: next -->