<%- include('../partials/header') %>

<a href="/decks/<%= deck._id %>/edit"><button>Edit Deck</button></a>

<h1><%= deck.deckName%></h1>

<!-- <div class = "card-container">
    <div>
        card front
        card back
    </div>
</div> -->

<!-- button: back
button: flip
button: next -->