<%- include('../partials/header') %>

<img class="head-img"src="https://i.imgur.com/lzLCD2s.png">

<h1>new dive</h1>

<div class = "content-body">

    <form id="new-dive-form" action="/dives" method="POST">
        <label>dive no.
            <input class = "sm" type="Number" name="number">
        </label>
        <label>site
            <input type="String" name="site">            
        </label><br>   
        <label>date
            <input type="Date" name="date" value="date">
        </label>
        <label>time
            <input type="String" name="time">
        </label><br> 
            <label>buddy
                <input type="String" name="buddy">            
    <hr>
        </label><br>
        <label>exposure protection
            <input type="String" name="protection">
        </label><br>
        <label>weight
            <input class="sm" type="Number" name="weight">
        </label>
        <label>
            <select name="weightUnits">
                <option value="kg">kg</option>
                <option value="ib" selected>ib</option>
            </select>
        </label><br>
        <label>entry method
            <select name="entry">
                <option value="shore">shore</option>
                <option value="boat" selected>boat</option>
                <option value="other" selected>other</option>
            </select>
        </label><br>
        <label>conditions
            <input type="String" name="conditions">
        </label><br>  
        <label>air temp
            <input class="sm" type="Number" name="airTemp">
        </label>
        <label>surface temp
            <input class="sm" type="Number" name="surfaceTemp">
        </label>
        <label>water temp
            <input class="sm" type="Number" name="waterTemp">
        </label> 
        <label>
            <select name="tempUnits">
                <option value="C">C</option>
                <option value="F" selected>F</option>
            </select>
    <hr>    
        </label><br>
        <label>start air pressure
            <input class="sm" type="Number" name="startAir">
        </label>
        <label>end air pressure
            <input class="sm" type="Number" name="endAir">
        </label>
        <label>
            <select name="airUnits">
                <option value="psi" selected>psi</option>
                <option value="bar">bar</option>
            </select>
        </label><br>  
        <label>max depth
            <input class="sm" type="Number" name="maxDepth">
        </label> 
        <label>
            <select name="depthUnits">
                <option value="ft" selected>ft</option>
                <option value="m">m</option>
            </select>
        </label><br>  
        <label>bottom time
            <input type="String" name="bottomTime">
    <hr>    
        </label><br>    
        <label>notes<br>
            <input id="notes-input" type="String" name="notes" maxlength="20000">
        </label><br>
        <br>
        <input class="style-button" type="submit" value="add dive">
        <div class="bottom-space">&nbsp</div>
    </form>

</div>

<footer>
    <%- include('../partials/footer'); %>
</footer>