<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('partials/header') %>
    <h1><%= title %></h1>
    <form action = "/auth/google" class="login">
      <input type="submit" value="Login">
    </form>
  </body>
</html>
